mixin sidebar(data)
    -console.log(data)
    +b.sidebar
        +e.element1= data.title
        +b.block2
            +e.A(href="#bar").element Bar
        +e.element2 Baz
        +e.element2 Baz
        +e.element2 Baz
        +e.element2 Baz
